.form-container {
  margin: 30px auto;
  width: 92%;
	
		.form-worker {
			.button {
				float: right;
				background-color: $primaryColor !important;
				color: white !important;

				.md-button-content {
					margin: 0 24px;
				}
			}
		}
}