.form-container {
  margin: 30px auto;
  width: 92%;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  .photo-download {
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
	  margin: 30px;
	  width: 200px;
	  height: 200px;
	}
	.download-button {
	  background: $primaryColor !important;
	  color: #ffffff !important;
	  padding: 10px 20px;
	}
	.delete-button {
	  color: $primaryColor;
	}
  }
  .form-worker {
	width: 65%;
	.button {
	  float: right;
	  background-color: $primaryColor !important;
	  color: white !important;
	  .md-button-content {
		margin: 0 24px;
	  }
	}
  }
}