.breadcrumbs {
    background-color: white;
    color: #676A6C;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        text-align: left;

        .breadcrumb {
            background: none;
            padding: 0;
        }

        &-large {
            font-size: 24px;
            margin: 10px 0;
        }

        &-bold {
            font-weight: 600;
        }
    }

    &__link {
        color: #676A6C !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    .button {
        background-color: $primaryColor !important;
        color: white !important;
        padding: 0 24px;
    }
}