.md-app, .page-container {
  height: 100%;
}

.container {
  margin-top: 30px;
}

.md-content {
  background-color: #F5F5F5 !important;
  padding: 0;
}

.titles {
  background-color: #fff;
  text-align: left;
  padding: 10px 40px;
  color: #676A6C;

  p:first-child {
	font-size: 24px;
  }

  p {
	font-size: 14px;
	margin: 10px 0 8px 0;
  }

}

.add-btn {
  float: right;
  top: -60px;
  background-color: $primaryColor !important;
  color: #fff !important;
  width: 150px;
}

.calendar-container {
  width: 100%;

  .weeks {
	height: 500px;
  }

}

.calendar-view {
  width: 90%;
  margin: 0 auto;
}
