.md-app, .page-container {
  height: 100%;
}

.menu {
  padding: 30px;
  width: 300px;
  height: 100%;
  background: $menuColor !important;
  color: #ffffff !important;
  text-align: left;
  height: 100%;
}

.md-list-item-content {
  color: #bddbf7 !important;
}

.md-icon.md-theme-default.md-icon-image {
  svg {
    fill: #bddbf7 !important;
  }
}

.md-list {
  background: $menuColor !important;
  color: #ffffff;
}

.user-info__photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid white;
}

#username {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
}

.role {
  border: none;
  background: $menuColor;
  color: #a1a1a1;
  padding-left: -10px;
  margin-left: -8px;
  font-size: 14px;
}

#sub_menu, #menu {
  list-style: none;
  width: 200px;
  padding: 0;

  li {
	list-style: none;
  }

}

//.menu_wrapper {
//  //position: relative;
//  //overflow: hidden;
//  //height: 0;
//  transition: height 0.5s;
//}

.sub_menu_wrapper {
  font-size: 16px;
//  //position: relative;
//  //overflow: hidden;
//  //height: 0;
//  transition: height 0.5s;
}

//#sub_menu {
//  overflow: hidden;
//  position: absolute;
//  top: 0;
//  left: 0;
//}

.sub_menu_item {
  margin-left: 10px;
  //height: 30px;
  //line-height: 30px;
  //font-size: 15px;
  a {
	font-size: 16px !important;
  }
}

.menu_item {
  min-height: 30px;
  line-height: 30px;
  background-color: $menuColor;
  color: #ffffff;

  a {
	color: #ffffff !important;
	text-decoration: none !important;
	font-weight: bolder;
	font-size: 18px;
  }

  i {
	color: #fff !important;
  }

}

.container {
  margin-top: 30px;
}

// .md-ripple {
//   color: #fff !important;
// }

.md-content {
  background-color: #F5F5F5 !important;
  padding: 0;
}

.titles {
  background-color: #fff;
  text-align: left;
  padding: 10px 40px;
  color: #676A6C;

  p:first-child {
	font-size: 24px;
  }

  p {
	font-size: 14px;
	margin: 10px 0 8px 0;
  }

}

.add-btn {
  float: right;
  top: -60px;
  background-color: $primaryColor !important;
  color: #fff !important;
  width: 150px;
}

.calendar-container {
  width: 100%;

  .weeks {
	height: 500px;
  }

}

.calendar-view {
  width: 90%;
  margin: 0 auto;
}
