.sidebar {
    width: 300px;
    height: 100%;
    background: $menuColor !important;
    color: white !important;
    text-align: left;

    li {
        list-style: none;
    }

    .user {
        margin: 30px;

        &__photo {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 1px solid white;
        }

        &__name {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 18px;
        }

        &__post {
            color: #A1A1A1;
        }

    }

    .tree-container {
        padding: 0 30px;
    }

    .tree {
        &__leaf {
            color: #A7B1C2;
            font-size: 16px;
            cursor: pointer;
            display: block;
            position: relative;
        }

        &__department,
        &__department-open {
            height: 10px;
            width: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        &__department {
            background: url('assets/images/arrow-up.svg') no-repeat;
        }

        &__department-open {
            background: url('assets/images/arrow-down.svg') no-repeat;
        }
    }
}