.sign {
    height: 100%;

    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .md-headline {
        margin-bottom: 24px;
    }

    .md-button {
        font-size: 18px;
        font-weight: normal;
    }
}
