.card-scene {
  margin-top: 20px;

  .smooth-dnd-draggable-wrapper {
    padding: 10px;
  }
}

.horizontal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  position: relative;
}

.card-container {
  cursor: pointer;
  background-color: #ffffff;
  width: 320px;
  padding-bottom: 10px;

  .smooth-dnd-draggable-wrapper {
    width: 270px;
    margin: 0 auto;
  }

  .card-column-header {
    padding: 20px;
    text-align: left;
    color: $primaryColor;
    font-weight: 500;
    font-size: 20px;
  }

  .card {
    border: none;
    border-left: 5px solid #bcc0c3;
    border-right: 5px solid #bcc0c3;
    text-align: left;
    padding: 15px 0 0 10px;
    display: flex;
    width: 100%;
    height: auto;

    .task-data {
      min-height: 50px;
    }

    .md-avatar {
      position: absolute;
      right: 15px;
    }

  }
}

