body {
    height: 100%;
}

#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    height: 100%;
}
  
.slide-enter-active {
    transition: all .5s ease;
}

.slide-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-enter, .slide-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

.md-app, .page-container {
    height: 100%;
}
  
.md-content {
    background-color: #F5F5F5 !important;
    padding: 0;
}

.md-green {
    background: $primaryColor !important;
    color: white !important;
}

.md-primary {
    color: $primaryColor !important;
}

.md-field.md-theme-default:before {
    background: $primaryColor;
}

.md-field.md-theme-default.md-focused label {
    color: black;
}

.md-field.md-theme-default.md-focused .md-input {
    color: $primaryColor;
}

.md-table.md-theme-default .md-table-row:hover:not(.md-header-row) .md-table-cell {
    background: none;
}

.md-progress-spinner.md-theme-default .md-progress-spinner-circle {
    stroke: $primaryColor;
}

.spinner {
    margin-top: 100px;
}
