body {
    height: 100%;
}
  
.sign {
    height: 100%;
}

.sign__background,
.sign__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.md-yellow {
    background: #F7D354 !important;
}

.md-headline {
    font-family: 'PT Sans Narrow', sans-serif !important;
    margin-bottom: 24px;
}

.md-field.md-theme-default:before {
    background: #F7D354;
}

.md-field.md-theme-default.md-focused label {
    color: black;
}

.md-field.md-theme-default.md-focused .md-input {
    color: #F7D354;
}